.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;
}

.container{
    background: transparent;
    border-radius: 10px;
    padding: 16px;
    width: 319px;
    box-shadow: 0px 3px 12px rgb(151, 147, 146);

}
